---
import { type CollectionEntry, getCollection } from "astro:content";
import PageLayout from "@layouts/PageLayout.astro";
import Container from "@components/Container.astro";
import { ArrowCard } from "@components/ArrowCard";
import { BLOG } from "@consts";
import { PostsList } from "@components/PostsList";
import { FilterButtons } from "@components/FilterButtons";
import SenderForm from "@components/SenderForm.astro";

const filters = [
  { id: "self-develop", label: "Rozwój" },
  { id: "design-patterns", label: "Wzorce projektowe" },
  { id: "javascript", label: "JavaScript" },
  { id: "typescript", label: "TypeScript" },
];

const data = (await getCollection("blog"))
  .filter((post) => post.data.published != "false")
  .sort((a, b) => b.data.date.valueOf() - a.data.date.valueOf());

type Acc = {
  [year: string]: CollectionEntry<"blog">[];
};

const posts = data.reduce((acc: Acc, post) => {
  const year = post.data.date.getFullYear().toString();
  if (!acc[year]) {
    acc[year] = [];
  }
  acc[year].push(post);
  return acc;
}, {});

const years = Object.keys(posts).sort((a, b) => parseInt(b) - parseInt(a));
---

<PageLayout title={BLOG.TITLE} description={BLOG.DESCRIPTION}>
  <Container>
    <div class="space-y-10">
      <div class="font-semibold text-black dark:text-white">Blog</div>

      <SenderForm />

      <FilterButtons client:load />

      <PostsList posts={posts} years={years} client:load />
    </div>
  </Container>
</PageLayout>
