---
import Link from "@components/Link.astro";
import Head from "@components/Head.astro";
---

<!doctype html>
<html lang="en">
  <head>
    <Head title="404" description="Not found" />
  </head>
  <body>
    <div class="h-screen flex flex-col items-center justify-center">
      <h1 class="text-[120px] font-extrabold">404</h1>
      <h2 class="text-3xl mb-8">Not Found</h2>
      <Link href="/">Back to home</Link>
    </div>
  </body>
</html>
