---
import { getCollection } from "astro:content";
import PageLayout from "@layouts/PageLayout.astro";
import Container from "@components/Container.astro";
import ArrowCard from "@components/ArrowCard.astro";
import { WORK_SAMPLES } from "@consts";

const samples = (await getCollection("work_samples"))
  .filter(project => !project.data.draft)
  .sort((a, b) => b.data.date.valueOf() - a.data.date.valueOf());
---

<PageLayout title={WORK_SAMPLES.TITLE} description={WORK_SAMPLES.DESCRIPTION}>
  <Container>
    <div class="space-y-10">
      <div class="animate font-semibold text-black dark:text-white">
        Work samples
      </div>
      <ul class="animate flex flex-col gap-4">
        {
          samples.map((sample) => (
            <li>
              <ArrowCard entry={sample}/>
            </li>
          ))
        }
      </ul>
    </div>
  </Container>
</PageLayout>
