---
import { Link } from "@components/Link";
---

<div
    id="cookie-banner"
    class="fixed bottom-5 left-0 right-0 mx-auto max-w-md bg-gray-800 text-white p-5 rounded-lg shadow-lg z-50 hidden"
    transition:persist
>
    <p class="m-0">
        To strona korzysta z plików cookies. Więcej w <Link href="/privacy"
            >Polityce Prywatności</Link
        >.
    </p>
    <button
        id="cookie-accept"
        class="ml-5 bg-gray-600 text-white border-0 rounded cursor-pointer px-4 py-2 hover:bg-gray-700"
    >
        Ok!
    </button>
</div>

<script>
    const checkCookieConsent = () => {
        const banner = document.getElementById("cookie-banner");
        if (!banner) return;

        if (!localStorage.getItem("cookieConsent")) {
            banner.classList.remove("hidden");
            banner.style.display = "flex";

            const btn = document.getElementById("cookie-accept");
            btn?.addEventListener(
                "click",
                () => {
                    localStorage.setItem("cookieConsent", "true");
                    banner.style.display = "none";
                },
                { once: true },
            );
        }
    };

    checkCookieConsent();

    document.addEventListener("astro:page-load", checkCookieConsent);
</script>
