---
import Link from "@components/Link.astro";
---

<div
    id="cookie-banner"
    class="fixed bottom-5 left-0 right-0 mx-auto max-w-md bg-gray-800 text-white p-5 rounded-lg shadow-lg hidden z-50"
>
    <p class="m-0">
        To strona korzysta z plików cookies. Więcej w <Link href="privacy"
            >Polityce Prywatności</Link
        >.
    </p>
    <button
        id="cookie-accept"
        class="ml-5 bg-gray-600 text-white border-0 rounded cursor-pointer px-4 py-2 hover:bg-gray-700"
    >
        Ok!
    </button>
</div>

<script>
    const initCookieConsent = () => {
        const banner = document.getElementById("cookie-banner");
        const btn = document.getElementById("cookie-accept");

        if (!banner || !btn) return;

        if (!localStorage.getItem("cookieConsent")) {
            banner.style.display = "flex";
        }

        btn.addEventListener("click", () => {
            localStorage.setItem("cookieConsent", "true");
            banner.style.display = "none";
        });
    };

    initCookieConsent();
</script>
