---
/**
 * Update the details below to match your personal information
 */

 enum DetailType {
	title = 'title',
	subtitle = 'subtitle',
	description = 'description',
	location = 'location'
}

const details: {
	type: DetailType;
	content: string;
}[] = [
	{
		type: DetailType.title,
		content: `Hi, I'm Rick`,
	},
	{
		type: DetailType.subtitle,
		content: 'Software Engineer ðŸ’»',
	},
	{
		type: DetailType.description,
		content: 'Homelab enthusiast ðŸ¤– | Amateur mixologist ðŸ¹ | Cursed sports fan ðŸ« ',
	},
	{
		type: DetailType.location,
		content: 'Washington D.C. ðŸ›ï¸'
	}
];



const getClass = (type: DetailType) => {
	switch (type) {
		case DetailType.title:
			return 'text-4xl font-semibold tracking-wide md:text-5xl animate-fade-up duration-300 text-black dark:text-white';
		case DetailType.subtitle:
			return 'text-sm font-normal tracking-wide md:text-base duration-300';
		case DetailType.description:
			return 'text-sm font-normal tracking-wide md:text-base animate-fade-in duration-300';
		case DetailType.location:
			return 'text-sm font-normal tracking-wide md:text-base animate-fade-in duration-300';
	}
};
---

<div class="grid grid-cols-1 place-content-center place-items-center gap-5">
	{details.map((detail) => <p class={getClass(detail.type)}>{detail.content}</p>)}
</div>