---
import Container from "@components/Container.astro";
import Link from "@components/Link.astro";
import { SITE } from "@consts";
import { SOCIALS } from "@consts";
const github = SOCIALS.find((SOCIAL) => SOCIAL.NAME === "github") || {
  HREF: "www.github.com/jfelding",
};
---

<header>
  <Container>
    <div class="flex flex-wrap gap-y-2 justify-between">
      <Link href="/" underline={false}>
        <div class="font-semibold">
          {SITE.NAME}
        </div>
      </Link>
      <nav class="flex gap-1">
        <Link href="/blog"> blog </Link>
        <span>
          {`/`}
        </span>
        <Link href={github.HREF}> work </Link>
        <span>
          {`/`}
        </span>
        <Link href="/projects"> projects </Link>
      </nav>
    </div>
  </Container>
</header>
