---
import Container from "@components/Container.astro";
import Link from "@components/Link.astro";
import { SITE } from "@consts";
---

<header>
  <Container>
    <div class="flex flex-wrap gap-y-2 justify-between">
      <Link href="/" underline={false}>
        <div class="font-semibold">
          {SITE.NAME}
        </div>
      </Link>
      <nav class="flex gap-1">
        <Link href="/blogs">
          blogs
        </Link>
        <span>
          {`/`}
        </span>
        <Link href="/projects">
          projects
        </Link>
        <span>
          {`/`}
        </span>
        <Link href="/work_samples">
          samples
        </Link>
        <span>
          {'/'}
        </span>
        <Link href="/about">
          about
        </Link>
      </nav>
    </div>
  </Container>
</header>
