<body class="flex items-center">
  <h1 class="flex justify-center pb-3">Login</h1>
  <div class="flex p-2 border rounded border-black/15 dark:border-white/20 hover:bg-black/5 dark:hover:bg-white/5 hover:text-black dark:hover:text-white transition-colors duration-300 ease-in-out">
    <a class="flex items-center gap-3 p-1" href="/login/github">
      <img class="bg-white border border-black/15 dark:border-white/20 hover:bg-black/5 dark:hover:bg-white/5 hover:text-black dark:hover:text-white transition-colors duration-300 ease-in-out rounded-full h-12 w-12" src="icons/github.svg" alt="">
      <span>Sign in with GitHub</span>
    </a>
  </div>
</body>