---
import type { CollectionEntry } from "astro:content";
import { dateRange } from "@lib/utils";

type Props = {
  entry: CollectionEntry<"work">;
}

const { entry } = Astro.props;
---


<div class="flex flex-col flex-1 truncate">
  <div class="font-semibold text-black dark:text-white">
    {entry.data.title}
  </div>
  <div class="text-sm opacity-75">
    {entry.data.description}
  </div>
  <div class="text-sm opacity-75">
    {dateRange(entry.data.dateStart, entry.data.dateEnd)}
  </div>
</div>
