---
import PageLayout from "@layouts/PageLayout.astro";
import Container from "@components/Container.astro";
---

<PageLayout title={"TEST"} description={"ANOTHA TEST"}>
  <Container>
    <div class="space-y-10">
      <h1>Add New Gifts</h1>
      <div class="flex justify-between">
        <form method="post" class="">
          <label>
            Name
            <input type="text" name="name" required/>
          </label>
          <label>
            Link
            <input type="url" name="link" required />
          </label>
          <label>
            Assignee
            <input type="text" name="assignee" />
          </label>
          <label>
            Bought?
            <input type="text" name="bought" />
          </label>
          <label>
            Notes
            <input type="text" name="notes" />
          </label>
          <button class="mr-12 relative group flex flex-nowrap py-1 px-3 rounded-lg border border-black/15 dark:border-white/20 hover:bg-black/5 dark:hover:bg-white/5 hover:text-black dark:hover:text-white transition-colors duration-300 ease-in-out">
            Submit
          </button>
        </form>
      </div>
    </div>
  </Container>
</PageLayout>