---
import Head from "@components/Head.astro";
import Header from "@components/Header.astro";
import Footer from "@components/Footer.astro";
import CookieConsent from "@components/CookieConsent.astro";

type Props = {
  title: string;
  description: string;
  hashtags?: string[];
};

const { title, description, hashtags } = Astro.props;
---

<!doctype html>
<html lang="pl">
  <head>
    <Head title={title} description={description} hashtags={hashtags} />
  </head>
  <body>
    <Header />
    <main>
      <slot />
    </main>
    <Footer />
    <CookieConsent />
  </body>
</html>
