---
import Head from "@components/Head.astro";
import Header from "@components/Header.astro";
import Footer from "@components/Footer.astro";
import SenderForm from "@components/SenderForm.astro";
import CookieConsent from "@components/CookieConsent.astro";
import { SITE } from "@consts";

type Props = {
  title: string;
  description: string;
};

const { title, description } = Astro.props;
const PUBLIC_SENDER_FORM_ID = import.meta.env.PUBLIC_SENDER_FORM_ID;
---

<!doctype html>
<html lang="pl">
  <head>
    <Head title={`${title} | ${SITE.NAME}`} description={description} />
  </head>
  <body>
    <Header />
    <main>
      <slot />
      <SenderForm formId={PUBLIC_SENDER_FORM_ID} transition:persist />
    </main>
    <Footer />
    <CookieConsent />
  </body>
</html>
