---
import Container from "@components/Container.astro";
import PageLayout from "@layouts/PageLayout.astro";
---

<PageLayout title="Polityka Prywatności" description="Polityka Prywatności">
    <Container>
        Polityka Prywatności Data ostatniej aktualizacji: [DD/MM/RRRR]

        <p>
            1. Administrator danych osobowych Administratorem Twoich danych
            osobowych jest [Twoje Imię i Nazwisko lub Nazwa Firmy], z siedzibą w
            [Twój adres e-mail lub adres firmy].
        </p>

        <p>
            2. Cele przetwarzania danych Twoje dane osobowe (adres e-mail) będą
            przetwarzane w celu: Wysyłania newslettera oraz informacji o [opis
            treści, np. nowościach, promocjach].
        </p>

        <p>
            3. Podstawa prawna przetwarzania Przetwarzanie Twoich danych
            osobowych odbywa się na podstawie Twojej zgody (art. 6 ust. 1 lit. a
            RODO).
        </p>

        <p>
            4. Rodzaje przetwarzanych danych Zbieramy następujące dane osobowe:
            Adres e-mail
        </p>

        <p>
            5. Odbiorcy danych Twoje dane osobowe mogą być przekazywane
            podmiotom trzecim jedynie w celu realizacji usługi (np. dostawcy
            usług e-mail).
        </p>

        <p>
            6. Okres przechowywania danych Twoje dane będą przechowywane do
            momentu wycofania zgody na ich przetwarzanie lub do czasu
            zakończenia wysyłki newslettera.
        </p>

        <p>
            7. Prawa osób, których dane dotyczą Masz prawo do: Dostępu do swoich
            danych, Sprostowania swoich danych, Usunięcia swoich danych,
            Ograniczenia przetwarzania, Wycofania zgody na przetwarzanie danych.
        </p>

        <p>
            8. Informacje o plikach cookies Nasza strona internetowa może używać
            plików cookies w celu poprawy jakości usług. Możesz zarządzać
            ustawieniami cookies w swojej przeglądarce.
        </p>

        <p>
            9. Bezpieczeństwo danych Stosujemy odpowiednie środki techniczne i
            organizacyjne, aby zapewnić bezpieczeństwo Twoich danych osobowych.
        </p>

        <p>
            10. Kontakt W przypadku pytań dotyczących polityki prywatności
            prosimy o kontakt pod adresem: [Twój adres e-mail]. Pamiętaj, że
            powyższy wzór to tylko przykład i powinien być dostosowany do Twojej
            konkretnej sytuacji oraz zgodny z obowiązującymi przepisami
            prawnymi. Warto również skonsultować się z prawnikiem
            specjalizującym się w ochronie danych osobowych, aby upewnić się, że
            polityka jest zgodna z RODO i innymi regulacjami prawnymi.
        </p>
    </Container></PageLayout
>
